<h1>Subscriptions#show</h1>
<p>Find me in app/views/subscriptions/show.html.erb</p>



Company: <%= @subscription.company.name %></br>
Company Description: <%= @subscription.company.description %></br>
Amount Per Month: $<%= @subscription.amount_per_month %></br>


</br>
</br>
<%= button_to 'Delete', subscription_path(@subscription), method: 'delete' %>