<h3>Welcome To Your Personal Subscription Tracker</h3>
<h3>Where You Can Keep Track Of All Your Monthly Subscriptions</h3>

<% if logged_in? %>
 <%= link_to 'Create New Subscription', new_subscription_path %><br><br>
 <%= link_to 'See All My Subscriptions', user_subscriptions_path(:user_id) %>
<% end %>